*{
    padding:0;
    margin:0;
}

.container{
    width:100vw;
    height:100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:400px;
    padding:10px;
    border:1px solid black;
    border-radius:15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

#yesBtn{
    font-size:18px;
    background-color:rgba(144, 238, 144, 0.671);
    border:none;
    padding:10px;
    border-radius:12px;
}
#noBtn{
    position: absolute;
    font-size:50px;
    border: none;
    border-radius:12px;
    background:rgba(255, 0, 0, 0.373);
}